/* reset */
body,html{width:100%;height:100%;}
* {padding:0;margin:0;font-size: 14px;color:#000}
ul, li{list-style:none}
a:hover,a:focus,a:link,a:visited {text-decoration:none}
em,th{font-style:normal}
table{border-spacing:0;border-collapse:collapse}
input,.btn,.ico,button, svg{vertical-align:middle}
table {
	width: 100%;
	margin: 20px 0;
}

/*header*/
header {background: rgb(224, 224, 224);}
header div {
	width: 1200px;
	margin: 0 auto;
	padding: 10px;
}
header div:after {
	content: " ";
	display: block;
	clear: both;
}
header h1 {float: left;}
header h1 span {
	color: rgb(52, 152, 219);
}
header .globalNav {
	float: right;
}
header .globalNav li {
	display: inline;
	margin-left: 20px;
}
header .globalNav select {background: #fff;}
header nav {
	background: rgb(231, 76, 60);
}
header nav ul {text-align: center;}
header nav li {display: inline;}
header nav a {
	display: inline-block;
	padding: 10px 15px;
	color: #fff;
	font-size: 16px;
}

/*section*/
section {
	width: 1200px;
	margin: 20px auto;
}
section:after {
	content: " ";
	clear: both;
	display: block;
}
.leftWrap {
	float: left;
	width: 300px;
	text-align: center;
}
.leftWrap .userInfo .img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto 10px;
	background-size: 100% !important;
	border-radius: 50px;
}
.leftWrap .userInfo a {
	display: block;
	margin-top: 20px;
}
.leftWrap .userName {
	margin-bottom: 10px;
	font-weight: bold;
}
.leftWrap .userName span {display: block}
.rightWrap {
	float: right;
	width: 900px;
}
.btn {
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	text-align: center;
	border-radius: 4px;
	background-color: rgb(52, 152, 219);
}
.db,
.plannerList span {display: block;}
.plannerList svg {height: 45px;}
.plannerList > li {
	height: 70px;
	margin-bottom: 20px;
}
.plannerList li:after {
	content: " ";
	display: block;
	clear: both;
}
.plannerList h2 {
	float: left;
	width: 200px;
	text-align: center;
}
.plannerList p {
	float: left;
	line-height: 70px;
}
.plannerList a {float: right;}

/*signup*/
section#signup_welcome, 
section#reset_password,
section#login, 
section#signup {
	width: 570px;
	padding: 30px 12px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-sizing: border-box;
	font-size: 14px;
}
section#login h2, 
section#signup h2 {
	color: rgb(231, 76, 60);
	font-size: 30px;
	text-align: center
}
section#login h2 span, 
section#signup h2 span {
	color: rgb(241, 196, 15);
	font-size: 30px;
}
section#login > p, 
section#signup > p {
	font-size: 25px;
	text-align: center
}
section#reset_password form, 
section#login form, 
section#signup form {
	padding: 20px;
	margin: 20px auto 0;
	border-top: 1px solid #ccc;
}
section#reset_password form, 
section#login form {
	width: 422px;
}
section#reset_password form > p, 
section#login form > p, 
section#signup form > p {
	width: 400px;
	height: 40px;
	padding: 5px 10px 0;
	margin: 0 auto 10px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	font-size: 14px;
}
section#reset_password form > p input, 
section#login form > p input, 
section#signup form > p input {
	width: 350px;
	height: 35px;
	line-height: 40px;
	text-align: left !important;
}
section#login svg, 
section#signup svg {
	width: 27px;
	height: 31px;
	margin-right: 5px;
}
section#signup form > div {margin-top: 30px;}
section#signup form > div button {
	padding: 5px 20px;
	color: rgb(64, 64, 64);
	border-radius: 4px;
	background-color: rgb(224, 224, 224);
}
section#signup .cont {
	overflow: hidden;
	overflow-y: scroll;
	height: 180px;
	padding: 6px 12px;
	margin-top: 2px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	font-size: 14px;
}
section#signup input.btn {
	width: 100%;
	margin-bottom: 10px;
}
section#signup span.alert {
	display: inline-block;
	width: 300px;
	text-align: right;
}
section#signup input[type="submit"]{margin-top: 30px;}
section#login .btn {
	width: 100%;
	margin-top: 10px;
	background-color: rgb(243, 156, 18);
}
section#login input[type="submit"] {
	width: 100%;
	background-color: rgb(155, 89, 182);
}
section#login .findidpw {float: right;}

section#reset_password {text-align: center;}
section#reset_password svg {
	width: 64px;
	height: 64px;
}
section#reset_password > p {
	margin: 20px 0;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
section#reset_password .btn {width: 100%;}

section#signup_welcome {text-align: center}
section#signup_welcome strong {
	font-weight: bold;
    font-size: 38px;
    text-align: center;
    color: rgb(52, 152, 219);
}
section#signup_welcome p span, 
section#signup_welcome p {
	font-size: 18px;
	font-weight: bold
}
section#signup_welcome > p {margin-bottom: 50px;}

section#signup_welcome p.heading span, 
section#signup_welcome p.heading {
	font-size: 24px;
}
section#signup_welcome span.user {color: rgb(155, 89, 182);}
section#signup_welcome span.email {color: rgb(230, 126, 34);}
section#signup_welcome div {
	width: 260px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 4px;
    background-color: rgb(237, 237, 237);
}
section#signup_welcome div .btn {
	width: 128px;
	margin-top: 20px;
}
section#signup_welcome div .main_btn {background: rgb(155, 89, 182)}


.noti {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
    font-size: 18px;
    text-align: left;
}
section#qna thead th {
	padding: 5px;
	background: #ccc;
}
section#qna thead th:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
section#qna thead th:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
section#qna td {
	padding: 5px;
	text-align: center
}
section#qna td.cont {
	text-align: left;
	padding: 10px 10px 10px 100px;
	border: 1px solid #ccc;
}
section#calculate > ul {
	padding: 10px;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
section#calculate table {background-color: #aaa;}
section#calculate thead th {background-color: #ccc;}
section#calculate tbody td {background-color: #fff;}

/*footer*/
footer {
	margin-top: 100px;
	border-top: 2px solid #ccc;
	font-size: 12px;
}
footer ul {
	margin: 10px auto;
	text-align: center
}
footer li {
	display: inline;
}
footer li a {
	display: inline-block;
	padding: 10px 60px;
}
footer address {
	width: 1200px;
	margin: 0 auto;
	color: #666;
	font-style: normal;
}